h1 {
    color : cornflowerblue;
    transition: color 0.5s ease-in-out ;
}

.clicked {
    color : tomato;
}
.sexy-font {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}